﻿@model IEnumerable<Lab5_Entity.DistributedBooks>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.distributionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.realReturDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.plannedReturDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Books.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Readers.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.distributionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.realReturDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plannedReturDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Books.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Readers.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
