﻿.create-form {
    display: flex;
}

.form-item {
    font-size: 1.2em;
}

    .form-item label {
        display: block;
        margin: 7px 0;
    }

    .form-item input,
    .form-item select,
    .form-item textarea {
        max-width: 650px;
        width: 100%;
        border-radius: 2px;
    }

input.file-input {
    display: none;
}

.image-add, .image-change {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.image-add {
    background: #b94a48;
    padding: 25px 0;
}

label.image-add:hover {
    background: rgb(210, 57, 57);
}


.image-add img {
    width: 45%;
    max-height: 170px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .image-add img {
        max-height: 350px;
    }
}

.image-change img {
    width: 100%;
    cursor: pointer;
}

.ingridients-list {
    clear: both;
}

.dynamic-list-container > div {
    padding: 3px 20px 3px 0;
}

input[type="submit"],
input[type="reset"] {
    margin: 10px;
    font-weight: bold;
}

.create-form input[type="submit"]:hover {
    background: #48b34c;
    color: #dddddd;
}

.create-form input[type="reset"]:hover {
    background: #f44336;
    color: #dddddd;
}
