﻿.recipe-viewer {
    font: 18px bolder;
    font-family: inherit;
    text-align: justify;
    text-indent: 25px;
}

.recipe-img {
    padding: 0;
    margin: 0 15px 10px 0;
    box-shadow: #616161 2px 2px 2px;
}

.recipe-footer {
    clear: both;
    display: flex;
    justify-content: space-between;
}

.recipe-like {
    color: #f44336;
    height: 25px;
}

.recipe-like input{
    display: none;
}

.ingredients-list {
    clear: both;
}

.caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipes .thumbnail {
    margin-bottom: 13px;
}

.thumbnail img {
    max-height: 225px;
}